@import url('./fonts.css');

.main {
	padding-bottom: 120px;
}

.article-discovery {
	padding-top: 80px;
}

.play {
	position: absolute;
	left: 580px;
	bottom: 300px;
}

.article-decor {
	position: absolute;
	z-index: -1;
	top: 100px;
	left: -350px;
}

.article-text {
	margin-bottom: 20px;
	font-weight: 400;
	color: #535755;
	font-size: 16px;
	line-height: 130%;
}

.article-decor-wrapper,.article-decor-wrapper-2 {
	position: relative;
}

.article-decor-wrapper::before {
	position: absolute;
	top: 100px;
	left: -350px;
	z-index: -1;
	content: url('../images/svg/декор 2.svg');
}

.article-decor-wrapper-2::before {
	position: absolute;
	bottom: 136px;
	/* top: 328px; */
	right: -350px;
	z-index: -1;
	content: url('../images/svg/декор 2.svg');
}                                                 

.article-mb {
	margin-bottom: 80px;
}

.article_activities--list {
	padding-left: 0px;
}

.article_activities--item {
	margin-bottom: 12px;
}

/* .article_activities--item::marker {
	color: #3596ed;
} */

.article_activities--item::before {
	content: '';
	width: 8px;
	height: 8px;
	background-color: #3596ed;
	display: inline-block;
	border-radius: 50%;
	margin-right: 16px;
}

.article-decor-2 {
	position: absolute;
	z-index: -1;
	top: 328px;
	right: -350px;
}

.article-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background-color: #3596ed;
	padding: 0;
	border: none;
	border-radius: 50%;
	cursor: pointer;
  transition: opacity .2s, background-color .3s;
}

.article-play-button:not(:disabled):hover {
  background-color: #54afff;
}

.article-play-button:not(:disabled):active {
	background-color: #3084c0;
}
