@import url('./fonts.css');

.main {
	margin-bottom: 120px;
}

.play {
	position: absolute;
	left: 580px;
	bottom: 300px;
}

.article-text {
	margin-bottom: 20px;
}

.article__decor--wrapper-1,
.article__decor--wrapper-2  {
	position: relative;
}

.article__decor--wrapper-1::before {
	bottom: 364px;
	left: 0;
}

.article__decor--wrapper-2::before {
	right: 0;
	top: 326px;
}

.main__menu--activities {
	padding-left: 0px;
}

.article_activities--item {
	margin-bottom: 12px;
}

/* .article_activities--item::marker {
	color: #3596ed;
} */

.article_activities--item::before {
	content: '';
	width: 8px;
	height: 8px;
	background-color: #3596ed;
	display: inline-block;
	border-radius: 50%;
	margin-right: 16px;
}

.article-decor-2 {
	position: absolute;
	z-index: -1;
	top: 328px;
	right: -350px;
}

.article__play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background-color: #3596ed;
	padding: 0;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition:
		opacity 0.2s,
		background-color 0.3s;
	-o-transition:
		opacity 0.2s,
		background-color 0.3s;
	transition:
		opacity 0.2s,
		background-color 0.3s;
}

.article__play-btn:not(:disabled):hover {
	background-color: #54afff;
}

.article__play-btn:not(:disabled):active {
	background-color: #3084c0;
}

@media (width <= 992px) {
	.article-decor-wrapper-2::before {
		right: 0;
		top: 50%;
	}

	.article-decor-wrapper-1::before {
		bottom: 42%;
		left: 0;
	}

	.article-img {
		margin-bottom: 40px;
	}
}

@media (width <= 768px) {
	html p {
		font-size: 14px;
	}

	.article-decor-wrapper-2::before,
	.article-decor-wrapper-1::before {
		display: none;
	}

	.article-mb {
		margin-bottom: 60px;
	}

	.main {
		margin-bottom: 80px;
	}
}

@media (width <= 576px) {
	.article-mb {
		margin-bottom: 20px;
	}

	.main__section--group_activities {
		margin-bottom: 60px;
	}

	.article__play-btn {
		width: 50px;
		height: 50px;
	}

	.article__play-btn img {
		width: 21px;
		height: 25px;
	}
}
