html {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	min-width: 375px;
	margin: 0;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: #000;
}

:root {
	--accent: #3596ed;
	--stroke: #d3cbd9;
	--text-podpis: #858e8a;
	--text-zagolovochnyy: #2c332f;
	--text-nabornyy: #535755;
	--svetly--color: #f2f2f3;
	--Oswald-family: 'Oswald', sans-serif;
}

.oswald {
	font-family: var(--Oswald-family);
}

.blue-bc {
	background-color: var(--accent);
}

.blue-text {
	color: var(--accent);
}

.white-text {
	color: var(--svetly--color);
}

.gray-color {
	color: var(--text-nabornyy);
}

.p {
	color: var(--text-zagolovochnyy);
}

.container {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

.section {
	/* display: none; */
	margin-bottom: 140px;
}

.title-large {
	font-family: var(--Oswald-family);
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-size: 48px;
	color: #2c332f;
	max-width: 596px;
}

.article-title-medium {
	font-size: 36px;
}

.article-mb {
	margin-bottom: 80px;
}

.text-sub {
	font-weight: 300;
	font-size: 14px;
	line-height: 4%;
	color: #858e8a;
	margin-bottom: 8px;
}

.decor::before {
	content: '';
	position: absolute;
	z-index: -1;
	background: url('../images/svg/decor_icon.svg') repeat-x;
	display: inline-block;
	width: calc(50% - 250px);
	height: 48px;
}

.text {
	font-size: 16px;
	line-height: 130%;
}

a:focus-visible,
button {
	outline: none;
}

button:disabled {
	opacity: 0.6;
	cursor: default;
}

p:focus-visible,
a:focus-visible,
button:focus-visible,
summary:focus-visible {
	outline: 2px solid var(--accent);
	outline-offset: 2px;
}

@media (width <= 992px) {
	.container {
		max-width: 798px;
	}
}

@media (width <= 768px) {
	.container {
		max-width: 576px;
	}

	.title-large {
		margin-bottom: 30px;
	}

	h1.title-large {
		font-size: 40px;
	}

	h2.title-large {
		font-size: 30px;
	}
}

@media (width <= 576px) {
	.container {
		max-width: 400px;
	}

	h1.title-large {
		font-size: 30px;
	}

	h2.title-large {
		font-size: 20px;
	}
}
