html {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

:root {
	--accent: #3596ed;
	--stroke: #d3cbd9;
	--text-podpis: #858e8a;
	--text-zagolovochnyy: #2c332f;
	--text-nabornyy: #535755;
	--svetly--color: #f2f2f3;
	--Oswald-family: 'Oswald', sans-serif;
}

.oswald {
	font-family: var(--Oswald-family);
}

.blue-bc {
	background-color: var(--accent);
}

.blue-text {
	color: var(--accent);
}

.white-text {
	color: var(--svetly--color);
}

.gray-color {
	color: var(--text-nabornyy);
}

.p {
	color: var(--text-zagolovochnyy);
}

.container {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

.section {
	margin-bottom: 140px;
}

.title-large {
	font-family: var(--Oswald-family);
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-size: 48px;
	color: #2c332f;
	max-width: 596px;
}

.article-title-medium {
	font-size: 36px;
}

.text-sub {
	font-weight: 300;
	font-size: 14px;
	line-height: 4%;
	color: #858e8a;
	margin-bottom: 8px;
}

.text {
	font-size: 16px;
	line-height: 130%;
}

a:focus-visible,
button {
	outline: none;
}

button:disabled {
	opacity: 0.6;
	cursor: default;
}

p:focus-visible,
a:focus-visible,
button:focus-visible,
summary:focus-visible{
	outline: 2px solid var(--accent);
	outline-offset: 2px;
}
