.header {
	padding: 30px 0 0;
	/* margin-bottom: 80px; */
}

.top__inner {
	padding: 0 0 30px;
	display: flex;
	border-bottom: 1px solid #d3cbd9;
	gap: 10px;
}

.fit {
	display: block;
}

.fit::after {
	content: url('../images/svg/logo.svg');
}

.logo {
	text-transform: uppercase;
	font-size: 21.68px;
}

.logo_studio {
	display: block;
	font-size: 22.04px;
}

.free_visit {
	text-transform: uppercase;
	margin-left: auto;
}

.free_visit > a {
	display: block;
	font-weight: 500;
	font-size: 18px;
	text-align: right;
	margin-top: 8px;
	color: #2c332f;
	transition: all 0.3s;
}

.free_visit > a:hover {
	text-decoration: underline;
	color: #3596ed;
}
