@import url(../base/vars.css);
@media (width > 1280px) {
  .burger-menu__wrapper {
    display: none;
  }
}
@media (width <= 1280px) {
  .header--open {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background: var(--overlay);
    height: 100vh;
    width: 100%;
    z-index: var(--layer-4);
  }

  .header__logo-link {
    z-index: var(--layer-4);
    max-width: 162px;
  }

  .header__info {
    position: relative;
    margin-left: 19px;
    transition-property: top, opacity, visibility;
    transition-duration: var(--transition-time);
  }
  .burger-menu__wrapper {
    position: fixed;
    right: 0;
    left: 0;
    top: -100vh;
    opacity: 0;
    visibility: hidden;
    background-color: var(--overlay);
    transition: all var(--transition-time);
    background-color: var(--bg-menu);
    width: 100%;
    min-height: 55%;
    z-index: var(--layer-3);
  }
  .burger-menu__wrapper--open {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
  .burger-menu,
  .burger__menu-cross {
    position: absolute;
    top: 32px;
    right: 56px;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    transform: translateX(100%);
    padding: 0;
    transition: all var(--transition-time);
  }
  .burger__menu--open {
    display: none;
  }
  .burger-menu__line {
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--accent-color);
  }

  .burger__menu-cross {
    display: none;
  }

  .burger__menu-cross--open {
    transform: translate(50%, -16%);
    display: inline-block;
  }

  .header__button-buy--open,
  .header__button-rooms--open,
  .header__location-btn--open,
  .header__phone-link--open {
    display: inline-block;
  }
  .header__phone-link--open {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header__location-btn--open {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: static;
  }

  .header__container {
    align-items: flex-start;
    gap: 50px;
  }

  .header__buttons-wrapper--open,
  .header__container--open {
    flex-direction: column;
    z-index: var(--layer-4);
  }

  .header__info--open {
    flex-direction: column;
    gap: 46px;
    width: 100%;
    z-index: var(--layer-4);
  }
}

@media (height <= 800px) {
  @media (height <= 680px) {
    .header__container--open {
      gap: 25px;
    }
  }
  @media (height <= 734px) {
    .header__container--open {
      gap: 32px;
    }
  }

  .header__button-rooms--open,
  .header__button-buy--open {
    display: flex;
  }

  .button-rooms-text {
    text-wrap: nowrap;
  }
}
