@import url(../base/vars.css);
.hero__container,
.hero__title {
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
}
.hero__text,
.hero__title {
	text-transform: uppercase;
}
.hero {
	position: relative;
	overflow-x: clip;
}
.hero__container {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.hero__img-decor {
	position: absolute;
	top: -200px;
	right: 320px;
	z-index: var(--layer-negative-1);
}
.hero__img-decor::after {
	content: '';
	position: absolute;
	top: 0;
	left: -100px;
	width: 1024px;
	height: 685px;
	background-image:
		-o-linear-gradient(
			350deg,
			#191b20 5%,
			#191b20e6 10%,
			#191b2099 20%,
			#191b204d 80%,
			#191b2000 200%
		),
		-o-radial-gradient(
				center,
				circle,
				#191b2099 100%,
				#191b204d 100%,
				#191b2000 100%
			),
		url('../../images/header_backgorund-img.webp');
	background-image:
		linear-gradient(
			100deg,
			#191b20 5%,
			#191b20e6 10%,
			#191b2099 20%,
			#191b204d 80%,
			#191b2000 200%
		),
		radial-gradient(
			circle at center,
			#191b2099 100%,
			#191b204d 100%,
			#191b2000 100%
		),
		url('../../images/header_backgorund-img.webp');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: var(--layer-negative-2);
}
@media (width <= 1508px) {
	.hero__img-decor {
		right: 35px;
	}
	.hero__img-decor::after {
		left: -120px;
	}
}
@media (width <= 1440px) {
	.hero__img-decor {
		top: -50px;
	}
	.hero__img-img {
		width: 530px;
		height: 900px;
		overflow: visible;
	}
	.hero__img-decor::after {
		left: -260px;
	}
}
@media (width <= 1220px) {
	.hero__img-img {
		width: 530px;
		height: 900px;
	}
	.hero__img-decor::after {
		left: -250px;
	}
}
@media (width <= 1190px) {
	.hero__img-decor {
		-webkit-transform: translateX(80px);
		-ms-transform: translateX(80px);
		transform: translateX(80px);
	}
}
@media (width <= 1040px) {
	.hero__img-img {
		width: 329px;
		height: 586px;
	}
	.hero__img-decor::after {
		right: -250px;
		width: 668px;
		height: 447px;
	}
	.hero__img-decor {
		right: 20%;
		top: 450px;
	}
}
@media (width <= 589px) {
	.hero__img-decor {
		top: 318px;
		-webkit-transform: translateX(170px);
		-ms-transform: translateX(170px);
		transform: translateX(170px);
	}
	.hero__img-img {
		-webkit-transform: translate(60px, 100px);
		-ms-transform: translate(60px, 100px);
		transform: translate(60px, 100px);
	}
}
@media (width <= 789px) {
	.hero__img-decor {
		right: 100px;
	}
}
@media (width <= 768px) {
	.hero__img-decor {
		top: 300px;
	}
}
@media (width <= 589px) {
	.hero__img-decor {
		right: 160px;
		top: 200px;
	}
}
.hero__text {
	font-size: clamp(18px, 0.641rem + 2.15vw, 41px);
	line-height: clamp(23px, 0.197rem + 5.51vw, 82px);
}
.hero__title {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	font-size: clamp(36px, 1.43rem + 3.64vw, 75px);
	line-height: clamp(48px, 2.033rem + 4.3vw, 94px);
	font-weight: 700;
	margin-bottom: 70px;
}
.hero__title-addrress {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	left: 630px;
	bottom: 44px;
	max-height: 27px;
	max-width: 113px;
	font-size: 15px;
	padding: 6px 13px;
	border-radius: 60px;
	text-transform: none;
	font-weight: 400;
	background-color: var(--bg-text);
}
@media (width <= 1380px) {
	.hero__title {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.hero__title-addrress {
		position: static;
	}
}
@media (width > 992px) {
	.hero__title-nowrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}
@media (width <= 992px) {
	.hero__title {
		min-height: 169px;
		max-width: 560px;
	}
	.hero__title-nowrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
}
.hero__content,
.hero__content-benefits {
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: justify;
}
@media (width <= 576px) {
	.hero__text {
		max-width: 300px;
		margin-bottom: 8px;
	}
	.hero__title-nowrap {
		margin-bottom: 18px;
	}
	.hero__benefits-element:last-child {
		max-width: 49px;
	}
}
@media (width <= 451px) {
	.hero__text {
		max-width: 260px;
	}
}
.hero__content {
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.hero__content-benefits {
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	width: 50%;
}
.hero__button-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 800px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.hero__benefits-list {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
	max-width: 772px;
}
@media (width > 450px) {
	.hero__benefits-list {
		margin-bottom: 73px;
	}
	.hero__content-information-img__text {
		top: 34%;
	}
}
.hero__benefits-element {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 15px;
	max-height: 50px;
}
.hero__benefits-element:last-child,
.hero__benefits-element:nth-child(2) {
	width: 210px;
}
.hero__benefits-element::before {
	content: '';
	display: inline-block;
	background-image: url('../../icons/mark.svg');
	width: 50px;
	height: 50px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.hero__btn-buy {
	z-index: var(--layer-2);
	padding: 30px 42px;
}
.hero__content-text {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	color: var(--hidden-color);
	text-transform: uppercase;
}
@media (width <= 998px) {
	.hero__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.hero__content-text {
		display: none;
		visibility: hidden;
	}
}
.hero__content-information {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: flex-end;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-bottom: 125px;
}
.hero__content-information__img-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	right: 908px;
	bottom: -140px;
}
@media (width <= 1508px) {
	.hero__content-information__img-wrapper {
		right: 409px;
	}
}
@media (width <= 1430px) {
	.hero__container {
		margin-bottom: 32px;
	}
	.hero__content-information__img-wrapper {
		position: static;
	}
	.hero__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.hero__content-text,
	.hero__link-wrapper {
		display: none;
		visibility: hidden;
	}
	.hero__content-information {
		margin-bottom: -21px;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}
@media (width > 1430px) {
	.hero__container {
		position: relative;
	}
	.hero__content-information__img-wrapper {
		position: absolute;
	}
}
@media (width <= 450px) {
	.hero__img-decor {
		right: 290px;
		top: 50px;
	}
	.hero__benefits-list {
		margin-bottom: 130px;
		max-width: 94px;
	}
	.hero__content-information__img-wrapper {
		position: absolute;
		right: 0;
		top: -300px;
	}
}

.hero__content-information-img {
	overflow: visible;
}
.hero__content-information-img__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 6px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: absolute;
	top: 34%;
	font-weight: 900;
	line-height: 24px;
	letter-spacing: 3%;
}
@media (width > 768px) {
	.hero__title {
		margin-bottom: 70px;
	}
	.hero__benefits-element:first-child {
		width: 250px;
	}
	.hero__content-information-img {
		width: 280px;
		height: 373px;
	}
	.hero__content-information-img__text {
		font-size: 16px;
	}
}
@media (width <= 768px) {
	.hero__title {
		margin-bottom: 24px;
	}
	.hero__benefits-element:first-child {
		width: 206px;
	}
	.hero__benefits-element:last-child,
	.hero__benefits-element:nth-child(2) {
		width: 170px;
	}
	.hero__content-information-img {
		width: 269px;
		height: 273px;
	}
	.hero__content-information-img__text {
		font-size: 12px;
		gap: 0;
	}
}
@media (width <= 450px) {
	.hero__content-information-img__text {
		top: 41%;
	}
}
.hero__content-information-img__text--accent {
	font-size: clamp(14px, 9.3333px + 1.2963vw, 28px);
	text-align: center;
	background: -o-linear-gradient(top, #ffc619 0, #f69020 100%);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #ffc619),
		to(#f69020)
	);
	background: linear-gradient(180deg, #ffc619 0, #f69020 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: -1%;
}
.hero__link-wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.hero__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 44px;
	text-transform: uppercase;
	color: var(--accent-color);
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	transition: opacity var(--transition-time) linear;
}
.hero__link-ico {
	position: absolute;
	right: 22px;
	top: 23px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.hero__link::after {
	content: '';
	display: inline-block;
	width: 83px;
	height: 83px;
	background: -o-linear-gradient(
		233deg,
		#ffc619 0,
		#f69020 46.35%,
		#ec5128 100%
	);
	background: linear-gradient(217deg, #ffc619 0, #f69020 46.35%, #ec5128 100%);
	border-radius: 100%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

@media (any-hover: hover) {
	.hero__link:hover {
    opacity: var(--opactity-value-secondary);
	}
}

.hero__content-characteristics-list {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(179px, 1fr));
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.hero__content-characteristics-item {
	height: 103px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 40px;
}
@media (width <= 1280px) {
	.hero__content-characteristics-item {
		gap: 10px;
	}
}
.hero__content-characteristics-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 20px;
}
@media (width <= 954px) {
	.hero__content-characteristics-ico {
		width: 38px;
		height: 38px;
	}
	.hero__content-characteristics-wrapper {
		gap: 10px;
	}
}
@media (width <= 876px) {
	.hero__content-characteristics-item {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 10px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
.hero__content-characteristics-line {
	display: inline-block;
	height: 1px;
	background-color: #ffc619;
}
@media (width > 1200px) {
	.hero__content-characteristics-line {
		width: 34px;
	}
}
@media (width <= 1200px) {
	.hero__content-characteristics-text {
		font-size: 14px;
		line-height: 19px;
	}
	.hero__content-characteristics-line {
		width: 18px;
	}
}
.hero__content-characteristics-item:first-child,
.hero__content-characteristics-item:nth-child(3) {
	background-color: var(--first-card-color);
}
.hero__content-characteristics-item:nth-child(2),
.hero__content-characteristics-item:nth-child(4) {
	background-color: var(--second-card-color);
}
@media (width > 536px) and (width <= 715px) {
	.hero__content-characteristics-item:last-child {
		-ms-grid-column-span: 3;
		grid-column: 3 span;
	}
}
@media (width <= 536px) {
	.hero__content-characteristics-wrapper {
		width: 50%;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-transform: translateX(-5px);
		-ms-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	.hero__content-characteristics-item:nth-child(4) {
		-ms-grid-column: 1;
		grid-column: 1;
		-ms-grid-row: 2;
		grid-row: 2;
	}
	.hero__content-characteristics-text:nth-child(2) {
		width: 140px;
	}
}
@media (width <= 480px) {
	.hero__content-characteristics-wrapper {
		width: 58%;
	}
}
@media (width <= 420px) {
	.hero__content-characteristics-wrapper {
		width: 70%;
	}
}
