@media (width > 768px) {
	.modal__buy {
		padding: 80px;
	}
}
.modal__form {
  display: flex;
  align-items: center;
  flex-direction: column;
	border: 5px solid var(--accent-color);
	padding: 100px 50px;
}
@media (width < 768px) {
	.modal__form {
		padding: 50px;
	}
}
.modal__form-wrapper {
	border: none;
}
.modal__form-title {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 40px;
	width: 270px;
}
.modal__form-label {
	display: block;
	margin-bottom: 20px;
}
.modal__form-label:last-child {
	margin-bottom: 80px;
}
.modal__form-btn {
	display: block;
	background-image: var(--bg-gradient-btn-buy);
  background-position:0% 0%;
  background-size:200% 200%;
	color: var(--color-btn);
	border-radius: 40px;
  font-weight: 700;
  transition: background-position var(--transition-time) linear;
}

@media (any-hover: hover) {
  .modal__form-btn:hover {
  background-position:100% 100%;
}

}

.modal_content {
	max-width: 800px;
}
input {
	width: 100%;
	padding: 20px;
}
