@import '../base/vars.css';
.air-mag__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
}
.air-mag__title {
	text-transform: uppercase;
	margin-bottom: 13px;
}

.air-mag__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: normal;
}

.air-mag__text::before {
	content: '';
	display: block;
	width: 105px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	height: 13px;
	background-image: url('../../icons/rectangle-decor-icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transform: translateX(-13px);
	-ms-transform: translateX(-13px);
	transform: translateX(-13px);
}
@media (width > 992px) {
	.air-mag__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		gap: 40px;
	}
	.air-mag__text {
		margin-bottom: 20px;
	}
}
@media (width <= 992px) {
	.air-mag__text {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom: 15px;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		gap: 20px;
	}
	.air-mag__text::before {
		margin-left: 17px;
	}
	.air-mag__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}
.air-mag__content-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-weight: 300;
}
@media (width > 992px) {
	.air-mag__content-list {
		max-width: 293px;
		-webkit-transform: translateY(77px);
		-ms-transform: translateY(77px);
		transform: translateY(77px);
	}
	.air-mag__content-list {
		gap: 40px;
	}
}
@media (width <= 992px) {
	.air-mag__content-list {
		gap: 20px;
	}
}
.air-mag__content-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	gap: 5px;
}
.air-mag__content-item::before {
	content: '';
	display: inline-block;
	background-image: url('../../icons/mark.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 32px;
	height: 32px;
}

.air-mag__container {
	padding-bottom: clamp(80px, 72.0989px + 2.107vw, 93px);
}
