@import './vars.css';

.footer {
	border-top: 1px solid var(--main-color);
	padding-block: 30px;
}

.footer__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media (width > 576px) {
	.footer__container {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.footer__menu .menu-list {
		gap: 30px;
	}
}

@media (width <= 576px) {
	.footer__container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		gap: 30px;
	}

	.footer__menu .menu-list {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 20px;
	}
}

.footer__phone-number {
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: var(--main-color);
	-webkit-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: var(--transition-time);
	-o-transition-duration: var(--transition-time);
	transition-duration: var(--transition-time);
}

@media (any-hover: hover) {
	.footer__phone-number:hover {
		color: var(--accent-color);
	}
}
